html {
  /* background-color: lemonchiffon; */
  /*background-color: aliceblue;*/
  background-color: plum;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
